html, body{
    padding-left: 0%;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}
.container{
    height: 400px;
    width: 400px;
    position: relative;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}


.background1{
    background-image: url("../pictures/impstorbot_bg.png");
}

.background2{
    background-image: url("../pictures/Obamashop_bg.png");
}
.background3{
    background-image: url(../pictures/Screenshot_1.png);
}
.aboutmebg{
    background-image: url(../pictures/aboutmebg.jpeg);
}

.parallax {
    overflow-y: none;
    margin-left: 0%;
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section div{
    padding-left: 0%;
    margin-left: 10em;
    margin-top: 35%;
    height: 100vh;
    width: 85%;
    position: absolute;
    background-color: white;
    margin-bottom: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


section img{
    width: 85%;
    margin-top: 2em;
}

.title{
    padding-left: 42%;
}


@media (max-width: 780px) {
    .sideBar {
      width: 100%;
      height: auto;
      position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .sideBar a {float: top;}
    div.content {margin-top: 0;}
    .sideBarButtons {
      position:relative;
      width: 100%;
      height: auto;
    }
    section div{
        margin-left: 7%;
        margin-top: -15%;
    }
    .parallax{
        background-attachment: scroll;
        height: 100%;
        width: auto;
    }
    .title{
        padding-left: 35%;
    }
}


@media(min-width: 781px) and (max-width: 890px) {
    section div{
        margin-top: 90%;
        margin-left: 15%;
    }}

@media (max-width: 951px) and (min-width: 891px) {
        section div{
            margin-top: 50%;
            margin-left: 14%;
        }
    }
        
@media (min-width: 951px) and (max-width: 1100px) {
section div{
    margin-left: 14%;
    margin-top: 40%;
} 
}

